@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

:root {
	--green: #366B5B;
}
* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

body, html {
	min-height: 100%;
	width: 100%;
}

.clear::after, .clear::before {
	content: " ";
	display: table;
}

.clear::after {
	clear: both;
}

/* Main Styles */

/* header */

.container {
	width: 100%;
	max-width: 1366px;
	margin: 0 auto;
	font-family: Roboto, sans-serif;
}
.header {
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	margin-left: 113px;
	position: relative;
}

.mainphoto {
	width: 550px;
}

.header__navigation {
	width: 60%;
	margin-top: 27px;
}

.header__navigation--items {
	text-decoration: none;
	letter-spacing: 0.2em;
	font-size: 24px;
	color:#101010;
	transition: all .3s;
	border-bottom: 2px solid transparent;
	margin-right: 13%;
	transition: all .3s;

}

.header__navigation--items:hover {
	color: var(--green);
	transform: scale(1.1);
	border-bottom: 2px solid var(--green);
}

/* main */

.main {
	position: absolute;
	max-width: 36.57%;
	margin-top: 162px;
}

.main__name {
	position: relative;
	color: var(--green);
	font-size: 48px;
	font-weight: 700;
	letter-spacing: 0.2em;
	margin-bottom: 60px;
}

.main__name img {
	position: absolute;
	bottom: 0;
}

.main__title {
	color: var(--green);
	font-size: 24px;
	letter-spacing: 0.5em;
	margin-bottom: 60px;
}

.main__text {
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.2em;
	max-width: 490px;
	margin-bottom: 25px;
}

.description {
	margin-bottom: 110px;
}

.social  img {
	margin: 0 30px 0 0;
	transition: all .3s;
}

.social  img:hover {
	transform: scale(1.2);
}

/* portfolio */

.portfolio {
	margin-left: 113px;
	margin-bottom: 90px;
}

.portfolio__title {
	font-size: 24px;
	letter-spacing: 0.5em;
	color: var(--green);
	font-weight: 500;
	margin: 100px 0;

}

.portfolio__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1030px;
	margin-left: 50px;

}

.portfolio__items--photo {
	width: 390px;
	margin: 30px;
}

/* price */

.price {
	/* position: relative; */
	display: flex;
	flex-direction: column;
}

.price__title {
	font-size: 24px;
	letter-spacing: 0.5em;
	color: var(--green);
	font-weight: 500;
	margin-left: 113px;
	margin-bottom: 80px;
}

.price__photo {
	max-width: 490px;
	margin-bottom: 45px;

}

.price__description {
	max-width: 495px;
	margin-left: 160px;

	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.2em; 
}

.tariffs {
	
}

